@import "tailwindcss";
@config "../../tailwind.config.js";

@plugin "tailwindcss-animate";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {

  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }

  --animate-spin: spin 2s linear infinite
}

/* @layer base { */
/*   * { */
/*     @apply border-border outline-ring/50; */
/*   } */
/*   body { */
/*     @apply bg-background text-foreground; */
/*   } */
/* } */
